In [2]:
import pandas as pd
import numpy as np

In [3]:
#preprocessing
imdb = pd.read_csv("imdb-videogames.csv")
steam = pd.read_csv("steam-200k.csv", header=None)


imdb = imdb.drop(imdb.columns[[0, 2, 3, 4, 5,  6, 7]],axis = 1)
print(imdb.head())

steam = steam[steam.iloc[:, -3].str.contains("purchase") == False]

print(steam.head())

                         name  Action  Adventure  Comedy  Crime  Family  \
0                  Spider-Man    True       True   False  False   False
1      Red Dead Redemption II    True       True   False   True   False
2          Grand Theft Auto V    True      False   False   True   False
3                  God of War    True       True   False  False   False
4  Uncharted 4: A Thief's End    True       True   False  False   False

   Fantasy  Mystery  Sci-Fi  Thriller
0     True    False   False     False
1    False    False   False     False
2    False    False   False     False
3    False    False   False     False
4    False    False   False     False
           0                           1     2      3  4
1  151603712  The Elder Scrolls V Skyrim  play  273.0  0
3  151603712                   Fallout 4  play   87.0  0
5  151603712                       Spore  play   14.9  0
7  151603712           Fallout New Vegas  play   12.1  0
9  151603712               Left 4 Dead 2  play    8.9  0

In [16]:
# creating dictionary of games and genres
dict1 = {}
for index, row in imdb.iterrows():
    if row["name"] not in dict1: 
        dict1[row["name"]] = []
        if row["Action"] == True:
            dict1[row["name"]].append("Action")
        if row['Adventure'] == True:
            dict1[row['name']].append("Adventure")
        if row['Comedy'] == True:
            dict1[row['name']].append("Comedy")
        if row['Crime'] == True:
            dict1[row['name']].append("Crime")
        if row['Family'] == True:
            dict1[row['name']].append("Family")
        if row['Fantasy'] == True:
            dict1[row['name']].append("Fantasy")
        if row['Sci-Fi'] == True:
            dict1[row['name']].append("Sci-Fi")
        if row['Mystery'] == True:
            dict1[row['name']].append("Mystery")
        if row['Thriller'] == True:
            dict1[row['name']].append("Thriller")
        
print(dict1["Spider-Man"])

['Action', 'Adventure', 'Fantasy']

In [22]:
df2 = pd.DataFrame({'user': steam.iloc[:,0], 'games': steam.iloc[:,1],'hours': steam.iloc[:, -2]})
df2 = df2.pivot_table(index='user', columns='games', values='hours')

df3 = df2.reindex(columns = df2.columns.tolist() + ['Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy', 'Sci-Fi', 'Mystery', 'Thriller'])
df3 = df3.fillna(0)
df3.head()

games,007 Legends,0RBITALIS,1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),10 Second Ninja,"10,000,000",100% Orange Juice,1000 Amps,12 Labours of Hercules,12 Labours of Hercules II The Cretan Bull,12 Labours of Hercules III Girl Power,...,theHunter Primal,Action,Adventure,Comedy,Crime,Family,Fantasy,Sci-Fi,Mystery,Thriller
user,,,,,,,,,,,,,,,,,,,,,
5250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
144736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0